:root{
    --white: #ffffff;
    --blauw: #2b2d42;
    --rood: #C70026;
    --zwart: #000000;
}
*,*::after,*::before {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
body {
margin: 0;
}
body {
    font-family: sans-serif;
}
html, body {
    margin: 0;
}
h1{
    font-family: "Poppins";
    font-size: 64px;
    color: white;
}
.startbutton{
    position: absolute;
    top: 37em;
    background-color: var(--blauw);
}
.startscherm{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: grey;
    background-image: radial-gradient(circle at center center, var(--zwart), var(--blauw)), repeating-radial-gradient(circle at center center, var(--rood), var(--rood), 10px, transparent 20px, transparent 10px);
    background-blend-mode: multiply;
}
.startscherm span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: var(--white);
    background-color: var(--zwart);
    border-radius: 50%;
    height: 60em;
    width: 45em;
}
button, .startbutton{
    padding: .5em 5em .5em 5em;
    border-radius: 2em;
    background-color: var(--blauw);
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 2em;;
}
button:hover, .startbutton:hover{
    background-color: var(--rood);
}
.test{
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.backgroundtest{
    background: linear-gradient(to left, var(--rood) 50%, var(--blauw) 50%);
    overflow: hidden;
}
.winstdanique{
    background: linear-gradient(to left, var(--rood) 75%, var(--blauw) 25%)!important;
}
.winstmik{
    background: linear-gradient(to right, var(--blauw) 75%, var(--rood) 25%)!important;
}
.danique{
    height: 93vh;
    margin-top: 5.5em;
    margin-left: 18em;
}
.mik{
    height: 100vh;
    margin-left: -3.5em;
}
.quiz{
    position: absolute;
    top: 48em;
    left: 20em;
    background-color: rgb(0, 0, 0, 0.7);
    padding: 4em;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50em;
    height: 30em;
    overflow: hidden;
    overflow-y: auto;
    z-index: 10;
}
.intro{
    position: absolute;
    background-color: rgb(0, 0, 0, 0.7);
    padding: 4em;
    top: 5em;
    left: 32em;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 15em;
}
.questions h2{
    position: absolute;
    width: 100%;
    left: 2em;
}
.questions{
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 5em;
}
video{
    display: none;
}
.questions > section{
    margin-top: 4em;;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.questions > section *{
    margin: .5em;;
}
.questions img{
    height: 10em!important;
    width: 10em;
}
input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: var(--rood);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
.hide{
    display: none;
}
.daniquesmaak{
    position: absolute;
    right: 1em;
    top: 50em;
    height: 25em;
}
.legenda2{
    position: absolute;
    bottom: -43em;
    right: 4em;
    height: 12em;
}
.miksmaak{
    position: absolute;
    left: 3em;
    top: 50em;
    height: 27em;
}